@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #DFDFDF;
  --foreground: #000000;

  --main-yellow-50: rgb(255, 247, 178);
  --main-yellow-100: rgb(255, 242, 127);
  --main-yellow-200: rgb(255, 237, 76);
  --main-yellow-300: rgb(255, 235, 51);
  --main-yellow-400: rgb(255, 225, 9);
  --main-yellow-500: rgb(230, 207, 0);
  --main-yellow-600: rgb(194, 174, 0);
  --main-yellow-700: rgb(163, 147, 0);
  --main-yellow-800: rgb(133, 119, 0);
  --main-yellow-900: rgb(102, 92, 0);
  --paper: #DFDFDF;
}


body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  overflow-x: hidden;
}




.masked-wrapper {
  mask-image: linear-gradient(black, black);
  -webkit-mask-image: linear-gradient(black, black);
}


/* 3D容器 */
.perspective-container {
  perspective: 1000px;
}

.perspective-3d {
  transform-style: preserve-3d;
}

/* 直書 */
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}